.chartContainer {
  height: 40px;
}

main {
  padding: 5px;

}

.chartLegendBox {
  margin-right: 5px;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display:inline-block;
}

ul.chartLegend {
  padding-left: 0;
}

.chartLegend li  {
  display:inline-block;
  padding:5px;
}
.chartLegend {
  list-style:none;
  display: inline;
}